<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>BlockChain</h2>
    <img src="../assets/images/decentralization-network.png" width="280" height="210" >
    <p>Build consortium blockchain base Tendermint, and keep working 4+ years. gained a lot of great knowledge from Bitcoin, Ethereum, Cosmos. </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <img src="../assets/images/gopher.png" width="280" height="210" >
    <p>Most of my work has been in Golang, but I am quite familiar with Python and Java as well.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="../assets/images/docker.png" width="280" height="210">
    <p>Git, Linux, Docker, Kubernetes, Drone, Helm, Nginx, you name it, I have used a bajillion tools!</p>
  </div>
</div>
