<footer class="footer">
     <p>&copy; {{ site.username }}</p>
    <p><a href="{{ site.github.repository_url }}" target="_blank" aria-label="view source code">Github</a></p>
</footer>
{% if site.google.analytics_id %}
<script async src="https://www.googletagmanager.com/gtag/js?{{ site.google.analytics_id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', "{{ site.google.analytics_id }}");
</script>
{% endif %}
<script src="{{ '/assets/js/particles.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
