<span style="text-align: center;width: 50%">
    <h3 class="post-directory-title mobile-hidden">Table of Contents</h3>
    <div id="post-directory-module" class="mobile-hidden">
        <section class="post-directory">
            <dl>
                {% for post in site.posts %}
                <dt>
                    <span class="term">
                    {% for category in post.categories %}
                        [{{ category }}]
                    {% endfor %}</span>
                    <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url" class="entry-content">{{ post.title }}</a>
                </dt>
                {% endfor %}
            </dl>
        </section>
    </div>
</span>