<div>
    {{ content }}
</div>
<!--<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15}}">-->
<!--    <div class="container">-->
<!--        <div class="collection-title">-->
<!--            <h1 class="collection-header">{{ page.title }}</h1>-->
<!--            {% if page.subtitle %}-->
<!--            <div class="collection-info">-->
<!--                    <span class="meta-info">-->
<!--                        {{ page.subtitle}}-->
<!--                    </span>-->
<!--            </div>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; / .banner &ndash;&gt;-->
<!--<section class="container content">-->
<!--    <div class="columns">-->
<!--        <div class="column two-thirds" >-->
<!--            <article class="article-content markdown-body">-->
<!--                {{ content }}-->
<!--            </article>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; /section.content &ndash;&gt;-->
